body {
    margin: 0;
    padding: 0;
    background-image: url(opp.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    color: whitesmoke;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    padding: 20px;
    height: 100%;
}

.profile-pic {
    flex: 0 0 auto;
    margin-right: 20px;
}

.profile-pic img {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

.profile-info {
    flex: 1;
}

.profile-info h1 {
    margin: 0;
    font-size: 24px;
}

.profile-info p {
    margin: 10px 0;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    float: right;
    font-style: italic;
}

a {
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    position: relative;
    color: white;
    border-color: black;
}

li a:hover::after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
}

#text1 {
    text-align: left;
}

p {
    font-size: 38px;
    font-weight: 100;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}

#hello {
    font-size: 30px;
    margin-left: 400px;
    margin-top: -20vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#dev {
    width: 100vh;
}

#ig, #lin, #x {
    width: 50px;
    border-radius: 100px;
    margin-top: 60px;
}

#ig {
    margin-left: -360px;
}

#lin {
    margin-left: -280px;
}

#x {
    margin-left: -400px;
}

.download-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    color: white;
    margin-top: 270px;
    margin-left: -480px;
    border: 1px white solid;
    width: 120px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}

h1 {
    font-size: xx-large;
    text-decoration: underline;
    font-weight: bold;
    text-align: left;
    float: right;
}

p, a {
    font-size: xx-large;
    text-align: center;
    float: right;
}

section {
    text-align: left;
}

img {
    float: left;
}

h1{
    text-align: left;
    float: left;
}